@media (max-width: 992px) {
  // avoid arrow and button/text overlap
  .carousel-inner .container {
    width: 70%;
  }

  .h-50vh {
    height: 80vh !important;
  }
}

@media (max-width: 768px) {
  // avoid arrow and button/text overlap
  .carousel-inner .container {
    width: 80%;
  }

  .h-50vh {
    height: 90vh !important;
  }
}

// landscape mobile devices
@media (max-width: 992px) and (max-height: 560px) {
  .h-50vh {
    min-height: 800px !important;
  }
}
